{% extends "layout.html"%}
{% block title %}Add User{% endblock %}
{% block main %}

  <div class="row justify-content-center align-items-center make-height-window-size">
    <div class="col-sm-6 jumbotron d-flex flex-column align-items-center">
      <h2 class="py-3">Flack!</h2>
      <form class="form-inline" method="POST" action="{{url_for('adduser')}}">
        <div class="form-group mx-sm-2 mb-sm-2">
          <label for="username" class="sr-only">Username</label>
          <input  required name="username" type="text" class="form-control" id="username" placeholder="Choose a name">
        </div>
        <button type="submit" class="btn btn-primary mb-2 ml-sm-2">Start Chat</button>
      </form>
    </div>

  </div>

{% endblock %}
