{% extends "layout.html"%}
{% block title %}Add User{% endblock %}
{% block main %}

  <!-- TODO center these two texts -->
  <h2 class="pb-2">Choose a display name</h2>

  <form action="{{url_for('adduser')}}" method="POST">
    <div class="row">
      <div class="col">
        <input class="form-control" name="username" placeholder="Enter display name" type="text">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
    </div>
  </form>

{% endblock %}
