{% extends "layout.html"%}
{% block title %}Chat{% endblock %}
{% block main %}

  <h2 class="pb-2"></h2>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <form id="channelform">
        <div class="row">
          <div class="col">
            <input id="channelname" class="form-control" placeholder="Channel name" type="text">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-dark">Create</button>
          </div>
        </div>
      </form>
      <small id="message" class="form-text text-muted"></small>
    </div>
  </div>

  <div class="row pt-3 justify-content-center make-height-window-size-convo">
    <!-- Updated Online Channels -->
    <div class="col-3">
      <h2 class="pb-2">Live Channels</h2>
      <div id="livechannels">
        <ul class="list-group list-group-flush">
        </ul>
      </div>
    </div>


    <!-- General container for convesations boards -->
    <div id="chat-convos" class="col"></div>
  </div>
{% endblock %}
