{% extends "layout.html"%}
{% block title %}Chat{% endblock %}
{% block main %}


  <div class="row py-2 align-items-center">
    <div class="col-4">
      <form id="channelform" class="form-inline">
        <div class="row no-gutters">
          <div class="col">
            <input required id="channelname" class="form-control" placeholder="Type a name" type="text">
          </div>
          <div class="col ml-2">
            <button type="submit" class="btn btn-dark">Create</button>
          </div>
        </div>
      </form>
      <small id="message" class="form-text text-muted"></small>
    </div>
    <h2 class="ml-auto pr-3">Hi, {{session.get("username")}}!</h2>
  </div>

  <!-- NOTE Remember that the row div use to have .make-height-window-size-convo -->
  <div class="row align-items-center">

    <!-- Updated Online Channels -->
    <div class="col-3 align-self-start">
      <h3 class="text-center">Live Channels</h3>
      <div id="livechannels">
        <ul class="list-group list-group-flush">
        </ul>
      </div>
    </div>


    <!-- Current messages/conversation displayed here  -->
    <div id="chat-convos" class="col"></div>

  </div>
{% endblock %}
